<div class="wrapper">
    <!-- <div class="form-left">
        <h2 class="text-uppercase"><strong>Find your place in space</strong></h2>
        <p>
            When you become a member, you join our mission to increase discoveries in our solar system and beyond, elevate the search for life outside our planet, and decrease the risk of Earth being hit by an asteroid.
        </p>
        <div class="form-field">
            <input type="submit" class="account" value="Become a member..?">
        </div>
    </div> -->
    <form class="form-right">
        <h2 class="text-uppercase">Login </h2><br>
        
        <div class="mb-3">
            <label>Your Email</label>
            <input type="email" class="input-field" name="email" required [(ngModel)]="email">
        </div>
        <div class="row">
            <div class="col-sm-6 mb-3">
                <label>Password</label>
                <input type="password" name="pwd" id="pwd" class="input-field" [(ngModel)]="password">
            </div>
            
        </div>
       
        <div class="form-field">
            <input type="submit" value="Submit" class="register" (click)="login()" name="register">
        </div>
    </form>
</div>
<br>
<br>

    
